<nav class="navbar navbar-expand-lg navbar-light navbar-landing-page">
  <%= link_to root_path do %>
    <div class="landing-page-logo">
      <p>CFOhulp</p>
    </div>
    <% end %>
    <div>
  <button id="navbar-menu-landing-page" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          <!-- Bedrijven -->
          <%= link_to "Bedrijven", pages_bedrijven_path %>
        </div>
      </li>
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          <%= link_to "Investeerders", pages_investeerders_path %>
        </div>
      </li>
      <li class="nav-item navbar-home-item landing-page-navbar-right-item">
        <div class="nav-link">
          <%= link_to "Over CFOhulp", pages_over_CFOhulp_path %>
        </div>
      </li>

      <!-- test -->
    </ul>
  </div>
  </div>
</nav>

<script>
// $(document).ready(function(){
  // document.addEventListener("turbolinks:load", function(event) {
// $(document).on('turbolinks:load', function() {
  $( document ).ready(function() {
    $('.dropdown-submenu a.test').on("click", function(e){
      // console.log(this)
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
    $('#dropdownMenuButton').on("click", function(e){
      $('.navbar-collapse').toggle();
      // $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  // });
  $('#navbar-menu-landing-page').on("click", function(e){
      $('.navbar-collapse').toggle();
      // $('.navbar-collapse').toggle();
    });
  });
// });



//   document.addEventListener("turbolinks:load", function(event) {
//   $('#dropdownMenuButton').on("click", function(e){
//     $(this).next('ul').toggle();
//     e.stopPropagation();
//     e.preventDefault();
//   });
// });

</script>

