<!-- <div class="landing-page-middle bedrijven-banner">
  <div class="landing-page-middle-left">
    <h1>"Wij helpen ondernemers door het standaardiseren van financiële processen en het inzichtelijk maken van de performance"</h1>
    <p><i> - Rob (Eigenaar CFOhulp) </i></p>
  </div>
</div> -->
<div class="banner-bedrijven">
<div class="landing-page-middle">
    <h1>"Wij helpen ondernemers met het standaardiseren van financiële processen en het inzichtelijk maken van de performance"</h1>
        <p><i> - Rob (Eigenaar CFOhulp) </i></p>
        <div> <%= link_to "Bel mij terug", "#", class: "btn btn-flat" %></div>
  </div>
</div>

<div class="landing-page-services-container">

  <div class="landing-page-services-bedrijven">
    <div class="landing-page-services-bedrijven-item">
      <i class="fas fa-file-invoice fa-4x"></i>
      <h5>Financiële reporting</h5>
      <p>Krijg een duidelijk beeld van de activiteiten van uw bedrijf met interne en externe financiële rapportage.</p>
    </div>
    <div class="landing-page-services-bedrijven-item">
      <i class="fas fa-euro-sign fa-4x"></i>
      <h5>Cash flow management</h5>
      <p>Stroomlijn debiteur-en crediteurbeheer om de bronnen en het gebruik van contant geld in uw bedrijf effectief te volgen.</p>
    </div>
    <div class="landing-page-services-bedrijven-item">
      <i class="fas fa-chart-line fa-4x"></i>
      <h5>Performance tracking</h5>
      <p>Verkrijg belangrijke inzichten in prestaties met robuuste gegevensverzameling en dynamische KPI-trackingdashboards.</p>
    </div>
    <div class="landing-page-services-bedrijven-item">
      <i class="fas fa-handshake fa-4x"></i>
      <h5>Financiering en overnames</h5>
      <p>Geef uw bedrijf de kans om strategische kansen te benutten door middel van (bank)leningen, investeringen in aandelen, fusies en overnames.</p>
    </div>
    <div class="landing-page-services-bedrijven-item">
      <i class="fas fa-cogs fa-4x"></i>
      <h5>Budget kosten beheersing</h5>
      <p>Identificeer kostenbesparingen en implementeer efficiënte maandelijkse budgetteringsprocessen om de cashflow te optimaliseren.</p>
    </div>
    <div class="landing-page-services-bedrijven-item">
      <i class="fas fa-chart-bar fa-4x"></i>
      <h5>Staat uw behoefte er niet bij?</h5>
      <p>Schrijf ons een email en dan proberen we samen te kijken naar de mogelijkheden.</p>
    </div>
  </div>
</div>
