<!-- <div class="landing-page-middle bedrijven-banner">
  <div class="landing-page-middle-left">
    <h1>"Wij ondersteunen investeerders bij portfolio management en tijdens exit-en investeringsprocessen"</h1>
    <p><i> - Rob (Eigenaar CFOhulp) </i></p>
  </div>
</div> -->
<div class="banner-investeerder">
  <div class="landing-page-middle">
    <h1>"Wij ondersteunen investeerders bij portfolio management en tijdens exit-en investeringsprocessen"</h1>
    <p><i> - Rob (Eigenaar CFOhulp) </i></p>
    <div> <%= link_to "Bel mij terug", new_demo_client_path, class: "btn btn-flat" %></div>
  </div>
</div>

<div class="landing-page-services-container">
  <div class="landing-page-services-bedrijven">
    <div class="landing-page-services-investeerders-item">
      <div class="avatar-investeerder-container">
        <div class="avatar-investeerder">
          <i class="fas fa-handshake fa-4x"></i>
        </div>
      </div>
      <h5>Begeleiding Investeringsprocessen</h5>
      <i>CFOhulp kan portfolio bedrijven begeleiden en ondersteunen bij het ophalen van financiering.</i>
      <br><br><br><br><br><br>
      <ul>
        <li>M&A processen</li>
        <li>Groeifinanciering</li>
        <li>Banklening</li>
        <li>Alternatieve financieringsvormen</li>
      </ul>
      <br>
      <h6><b>Buiten de begeleiding van een geheel proces, helpen wij ook bij individuele onderdelen. Voorbeelden zijn het opstellen van een IM of het inrichten van een dataroom.</b></h6>
    </div>
    <div class="landing-page-services-investeerders-item">
      <div class="avatar-investeerder-container">
        <div class="avatar-investeerder">
          <i class="fas fa-file-invoice fa-4x"></i>
        </div>
      </div>
      <h5>Portfolio management</h5>
      <i>Heeft een individueel portfolio bedrijf extra ondersteuning nodig bij het inrichten van financiële processen? Of wilt u portfoliobreed een profesionaliseringsslag doorvoeren door middel van een nieuwe reportingstandaard? <b>Wij helpen!</b></i>
      <br><br>
      <ul>
        <li>Financiële reporting</li>
        <li>Cash flow management</li>
        <li>Performance tracking</li>
        <li>Budget kosten beheersing</li>
      </ul>
      <br>
      <h6><b>Staat uw vraag er niet bij, neem dan contact op en dan kijken wij samen naar de mogelijkheden!</b></h6>
    </div>
    <div class="landing-page-services-investeerders-item">
      <div class="avatar-investeerder-container">
        <div class="avatar-investeerder">
          <i class="fas fa-user fa-4x"></i>
        </div>
      </div>
      <h5>CFO-as-a-Service</h5>
      <i>Hebben portfolio bedrijven periodiek ondersteuning nodig, maar geen full-time CFO of controller? Maak gebruik van CFO-as-a-Service (maandelijks opzegbaar).</i>
      <br><br><br><br>
      <div> <%= link_to "Bekijk voorbeeld werkzaamheden", pages_bedrijven_path, class: "btn btn-flat btn-saas" %></div>
    </div>
  </div>
</div>
