<div class="over_ons_container">
  <div class="over_ons_tekst">
    <div class="avatar_over_ons_container">
      <div class="avatar_over_ons">
      </div>
    </div>
    <div class="btn-container">
      <div> <%= link_to "Kennismaken?", "#", class: "btn btn-flat" %></div>
    </div>
    <div class="over_ons_tekst_container">
      <h1>Hallo,</h1><br>

      <p>Mijn naam is Rob, een voormalig investeerder bij één van Europa's grootste en  succesvolste investeerders in software bedrijven.</p>

      <p>Jarenlang heb ik CEO's en CFO's geholpen met:</p>
      <ul>
        <li>
          <b>Professionaliserings vraagstukken.</b>
          <br>
          Hoe kan de (financiële) organisatie worden ingericht, zodat de onderneming beter kan worden gemonitord en op basis van data worden aangestuurd?
        </li>
        <br>
        <li>
          <b>Financieringsvraagstukken.</b>
          <br>
          Wat zijn de financieringsopties om ons business model te financieren?
        </li>
        <br>
        <li>
          <b>Aan en/of verkoopvraagstukken.</b>
          <br>
          Hoe werkt het proces rondom een strategische acquisitie en/of verkoop van een bedrijf. Wat heb ik nodig en hoe geef ik het proces invulling?
        </li>
      </ul>

      <p>Met CFOhulp probeer ik nu ook andere bedrijven te helpen met het neerzetten en/of bijhouden van de financiële organisatie.</p>

      <p>Groeten,</p>

      <h3>Rob</h3>


    </div>
  </div>
</div>
