.footer{
  background-color: #1b1e36;
  // min-height: 50px;
  display: flex;
  color: white;
  padding: 1%;
  justify-content: space-around;
  p{
    font-weight: bold;
  }
}


@media(max-width: 450px) {
  .footer{
    display: block;
    padding: 1%;
    text-align: center;
    p{
      margin-bottom: 0 !important;
    }
  }
}
