.lead-form-container{
  background-color: white;
  border-radius: 5px;
  height: 1000px;
  height: fit-content;
  padding: 5%;
}

.btn-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
}
.over_ons_container{
  // background-color: white;
  background-color: #1C1F35;
  padding: 5% 25%;
  min-height: 800px;
  .over_ons_tekst{
    background-color: white;
    border-radius: 5px;
    height: 1000px;
    height: fit-content;
  }
  .over_ons_tekst_container{
    top: 100px;
    position: relative;
    padding: 0 10%;
    // min-height: 800px;
    padding-bottom: 100px;
  }
}

.avatar_over_ons_container{
   display: flex;
   justify-content: center;
   // margin-bottom: -10px;
 }

 .avatar_over_ons{
   position: relative;
   top: 50px;
   background-color: #1b1e36;
   width: 200px;
   height: 200px;
   padding: 5%;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   background-image: url("https://res.cloudinary.com/dgffnsbui/image/upload/q_auto,f_auto/v1591370841/avatar.jpg");
   // background-position: center;
   // vertical-align: middle;

   // left: 100px;
 }

 @media(max-width: 992px){
  .over_ons_container{
    padding: 5% 15%;
  }
 }

 @media(max-width: 450px) {
  .over_ons_container{
    padding: 5%;
    padding-bottom: 100px;
  }
 }
